@import 'functions';
@import 'variables';

.details {
    width: 100%;
    margin-bottom: min(vw(56), 56px);
    position: relative;

    .listik:not(.btn .listik) {
        position: absolute;
        height: min(vw(142), 142px);
        width: min(vw(200), 200px);
        will-change: transform, opacity, scroll-position;
    }

    .listik.left:not(.btn .listik) {
        left: min(vw(-166), -166px);
        top: min(vw(116), 116px);
        transform: rotate(15deg);
        animation: waveBoy1 4.5s infinite ease-in-out;
    }

    .listik.right:not(.btn .listik) {
        right: min(vw(-160), -160px);
        bottom: min(vw(-20), -20px);
        transform: rotate(204deg);
        animation: waveBoy2 4.5s infinite ease-in-out;
    }

    .detailstime {
        margin: 0 auto;
        margin-bottom: min(vw(24), 24px);
        margin-top: min(vw(64), 64px);
        white-space: nowrap;
        font-size: min(vw(24), 24px);
        font-family: 'Montserrat', sans-serif;
        display: flex;
        width: max-content;

        align-items: center;
        color: rgba(61, 38, 27, 1);

        span {
            display: inline-block;
            width: min(vw(7), 7px);
            height: min(vw(7), 7px);
            border-radius: min(vw(7), 7px);
            margin: 0 min(vw(19), 19px);
            background-color: rgba(107, 80, 34, 1);
        }

        img {
            width: min(vw(33), 33px);
            margin-right: min(vw(8), 8px);
        }
    }

    .detailslocation {
        margin: 0 auto;
        margin-bottom: min(vw(24), 24px);
        white-space: nowrap;
        font-size: min(vw(24), 24px);
        font-family: 'Montserrat', sans-serif;
        color: rgba(61, 38, 27, 1);
        display: flex;
        width: max-content;
        line-height: min(vw(34), 34px);
        align-items: flex-start;

        img {
            width: min(vw(33), 33px);
            margin-right: min(vw(8), 8px);
        }
    }

    .btn {
        margin-top: min(vw(64), 64px);
    }

    .detailsheader {
        position: relative;
        margin-bottom: min(vw(64), 64px);
        font-family: 'Cormorant';
        background: linear-gradient(to bottom, rgba(209, 158, 73, 1) 0%, rgba(0, 0, 0, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: min(vw(56), 56px);
        height: min(vw(70), 70px);
        padding: 0 min(vw(58), 58px);
        position: relative;
        z-index: 2;
        margin: 0 auto;
        display: block;
        background-color: rgba(246, 244, 236, 1);

        &:after {
            content: '';
            position: absolute;
            top: 40%;
            width: 33%;
            left: 0;
            height: vw(4);
            background-color: rgba(223, 211, 205, 1);
            z-index: -1;
            border-radius: min(vw(4), 4px);
        }

        &:before {
            content: '';
            position: absolute;
            top: 40%;
            width: 33%;
            right: 0;
            height: vw(4);
            background-color: rgba(223, 211, 205, 1);
            z-index: -1;
            border-radius: min(vw(4), 4px);
        }
    }

}