@font-face {
    font-family: 'AppleChancery';
    src: url('../assets/fonts/AppleChancery.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Cormorant';
    src: url("../assets/fonts/Cormorant-Regular.ttf") format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-Regular.ttf") format('truetype');
    font-weight: normal;
}